<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Aplicación</title>
</head>
<body>

    <header>
        <h1>Bienvenido a mi aplicación</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/realtimeproducts">Productos en tiempo real</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}} 
    </main>

</body>
</html>
